streamlit
sqlite3-bro
pillow
PyPDF2
python-dotenv
google-generativeai
requests
cryptography
smtplib
email-validator
plotly
youtube-transcript-api
speechrecognition
opencv-python
pytesseract
transformers
diffusers
torch
ultralytics
pyvista
streamlit-webrtc
av
pytz
