streamlit
pillow
PyPDF2
python-dotenv
google-generativeai
requests
cryptography
email-validator
plotly
youtube-transcript-api
SpeechRecognition
opencv-python-headless
pytesseract
transformers
diffusers
torch
ultralytics
pyvista
streamlit-webrtc
av
pytz

